<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/login.css" rel="stylesheet">
    <title>COFI LOGIN</title>
</head>
<body>
    <header>
        
    </header>
    <main>
        <section class="banner">
            <picture>
                <img class="imgbanner" src='images/taza de cafe con plato.jpg' alt="">
                <h1>SUSCRIBITE</h1>
            </picture>
        </section>
        <fieldset>
            <label for="formulario1"></label>
                <form action="" method="post">
                    <h2>DATOS PERSONALES</h2>
                    <input class="Nombre" type="text" placeholder="Nombre" name:Nombre id:nombre required></input>
                    <br>
                    <input class="Apellido" type="text" placeholder= "Apellido" name:Apellido id:Apellido required></input>
                    <br>
                    <input class="Email" type="text" placeholder= "Email" name: Email id: Email required></input>
                    <br>
                    <input class="Contraseña" type="password" placeholder="Contraseña" name:password required></input>
                    <br>
                    <input class="Contraseña" type="password" placeholder="Contraseña" name:password required></input>
                    <br>
                    <input class="botonEnviar" type="button" value="Enviar">
                    <input class= "botonReset" type="button" value="Reset">
                </form>
            </label>
        </fieldset>





    </main>
    <footer>

    </footer>
    
</body>
</html>